.home__container{
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.home__logo{
        width: 380px;
        overflow: hidden;
    }
.home__container img{
    width: 100%;
    height: auto;
    display: block;
}
.home__button{
    margin-top: 20px;
    padding: 13px 35px;
    font-size: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    cursor: pointer;
}